@import "../scss/partials/contacto";
@import "../scss/partials/nosotros";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */
.textoHeader {
    display: flex;
    justify-content: space-around;
    background-color: #393646;

    p {
        text-align: center;
        color: #F4EEE0;
        margin: 0;
        padding: 10px;
    }

    i {
        font-size: 22px;
    }
}

.contenedorLogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;

    img {
        height: 160px;
    }

    input {
        width: 600px;
        height: 43px;
        font-weight: bold;
        border-radius: 10px;
    }

    button {
        background-color: #393646;
        color: #F4EEE0;
        padding: 7px;
        border-radius: 10px;
    }

    i {
        margin-right: 10px;
    }
}


/* NAVBAR */
.contenedorNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-color: #393646;

    a {
        text-decoration: none;
        list-style: none;
        color: #F4EEE0;
    }

    img {
        height: 100px;
    }

}

/* PRODUCTOS */
.destacados {
    h1 {
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
        border-bottom: 2px solid;
    }
}

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 30px;
}

.productos {
    max-width: 300px;
    width: 290px;
    text-align: center;
    padding: 5px;
    border-left: 2px solid #b1b5c1;
    box-shadow: 5px 5px 8px #393646;
    border-radius: 10px;

    img {
        height: 200px;
    }

    h4 {
        font-size: 15px;
        height: 30px;
    }

    p {
        font-size: 13px;
        font-weight: bold;
        padding: 10px;
    }

    button {
        background-color: #393646;
        color: #F4EEE0;
        padding: 5px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.5s;

        &:hover {
            background-color: #3ea161;
            color: #393646;
            font-weight: bold;
        }
    }

}


/* LOGOS MARCAS */
.logosMarcas {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    img {
        height: 45px;
    }
}


/* FOOTER */
.contenedorFooter {
    display: flex;
    justify-content: space-evenly;
    background-color: #393646;
    color: #F4EEE0;
    padding: 40px;

    h4 {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 12px;
        text-align: center;

    }

    .redes {
        display: flex;
        justify-content: space-evenly;

        i {
            font-size: 30px;
        }

    }
}

@import "../scss/partials/queries";