@media (max-width: 1200px) {
    .contenedorLogo {
        margin-top: 100px;
    }
}

@media (max-width: 992px) {
    .textoHeader {
        p {
            font-size: 14px;
        }
    }

    .contenedorLogo {
        margin-top: 100px;

        img {
            height: 120px;
        }

        input {
            width: 500px;
        }

        button {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .textoHeader {
        p {
            font-size: 14px;
        }
    }

    .contenedorLogo {
        margin-top: 100px;

        img {
            height: 100px;
        }

        input {
            width: 300px;
        }

        button {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .textoHeader {
        p {
            margin: 0;
            font-size: 12px;
            padding: 3px;
        }

        i {
            font-size: 12px;
        }

        button {
            font-size: 12px;
        }
    }

    .contenedorLogo {
        margin-top: 70px;

        img {
            height: 90px;
        }

        input {
            width: 110px;
        }

        button {
            font-size: 12px;
        }

        i {
            margin-right: 10px;
        }
    }

    .contenedorNav {
        li {
            font-size: 12px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 15px;
            padding: 12px;
        }

        p {
            font-size: 12px;

        }

        .redes {

            i {
                font-size: 16px;
            }

        }
    }
}