@media (max-width: 1400px) {
    .textoHeader {
        p {
            font-size: 17px;
            padding: 5px;
            text-align: center;
        }

        i {
            font-size: 14px;
        }
    }

    .contenedorLogo {
        img {
            height: 170px;
        }

        input {
            width: 690px;
            height: 40px;
        }

        button {
            font-size: 16px;
        }

        i {
            margin-right: 11px;
        }
    }

    .contenedorNav {
        li {
            font-size: 16px;
        }
    }

    .destacados {
        h1 {
            font-size: 22px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 18px;
            padding: 12px;
        }

        p {
            font-size: 12px;

        }

        .redes {

            i {
                font-size: 20px;
            }

        }
    }
}


@media (max-width: 1200px) {
    .textoHeader {
        p {
            font-size: 16px;
            padding: 1px;
            text-align: center;
        }

        i {
            font-size: 15px;
        }
    }

    .contenedorLogo {
        img {
            height: 140px;
        }

        input {
            width: 490px;
            height: 40px;
        }

        button {
            font-size: 16px;
        }

        i {
            margin-right: 11px;
        }
    }

    .contenedorNav {
        li {
            font-size: 16px;
        }
    }

    .destacados {
        h1 {
            font-size: 20px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 18px;
            padding: 12px;
        }

        p {
            font-size: 12px;

        }

        .redes {

            i {
                font-size: 20px;
            }

        }
    }
}

@media (max-width: 992px) {
    .textoHeader {
        p {
            font-size: 16px;
            padding: 1px;
            text-align: center;
        }

        i {
            font-size: 15px;
        }
    }

    .contenedorLogo {
        img {
            height: 130px;
        }

        input {
            width: 390px;
            height: 40px;
        }

        button {
            font-size: 16px;
        }

        i {
            margin-right: 11px;
        }
    }

    .contenedorNav {
        li {
            font-size: 16px;
        }
    }

    .destacados {
        h1 {
            font-size: 20px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 18px;
            padding: 12px;
        }

        p {
            font-size: 12px;

        }

        .redes {

            i {
                font-size: 20px;
            }

        }
    }
}

@media (max-width: 768px) {
    .textoHeader {
        p {
            font-size: 14px;
        }

        i {
            font-size: 12px;
        }
    }

    .contenedorLogo {
        img {
            height: 110px;
        }

        input {
            width: 250px;
            height: 40px;
        }

        button {
            font-size: 13px;
        }

        i {
            margin-right: 10px;
        }
    }

    .contenedorNav {
        li {
            font-size: 14px;
        }
    }

    .destacados {
        h1 {
            font-size: 18px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 18px;
            padding: 12px;
        }

        p {
            font-size: 12px;

        }

        .redes {

            i {
                font-size: 20px;
            }

        }
    }
}

@media (max-width: 576px) {
    .textoHeader {
        p {
            font-size: 12px;
        }

        i {
            font-size: 12px;
        }
    }

    .contenedorLogo {
        img {
            height: 80px;
        }

        input {
            width: 155px;
            height: 30px;
        }

        button {
            font-size: 12px;
        }

        i {
            margin-right: 9px;
        }
    }

    .contenedorNav {
        li {
            font-size: 12px;
        }
    }

    .destacados {
        h1 {
            font-size: 18px;
        }
    }

    .contenedorFooter {
        padding: 40px;

        h4 {
            font-size: 15px;
            padding: 12px;
        }

        p {
            font-size: 11px;

        }

        .redes {

            i {
                font-size: 16px;
            }

        }
    }
}